<div class="title">
    <h2>MyBlog</h2>
</div>

<div class="navbar">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
</div>