<h2 class="title">MyBlog</h2>

<ul class="navbar">
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/compose">COMPOSE</a></li>
</ul>