<%- include("partials/head"); -%>
    <div class="container">
        <div class="header">
            <%- include("partials/header"); -%>
        </div>

        <div class="main">
            <h1>Compose</h1>

            <form action="/compose" method="POST">
                <div class="formDiv">
                    <label for="titleBox" class="titleLabel">Title</label>
                    <input type="text" id="titleBox" class="titleTextBox" name="titleBox">
                    <label for="postBox" class="postLabel">Post</label>
                    <textarea type="text" id="postBox" class="postTextBox" name="postBox"></textarea>
                    <button type="submit" class="publish">Publish</button>
                </div>
            </form>

        </div>

        <div class="footer">
            <%- include("partials/footer"); -%>
        </div>
    </div>
    <%- include("partials/foot"); -%>