* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  width: 100vw;
  height: 15vh;
  background-color: rgb(236, 236, 236);
  justify-content: space-between;
  align-items: center;
  font-family: "Special Elite", cursive, sans-serif;
}

.title {
  margin: 0 2vmax;
  font-size: 3vmax;
}

.navbar {
  list-style: none;
  display: flex;
}

li {
  margin: 0 5vmax;
  font-size: 1.5vmax;
}

.navbar a:hover {
  color: rgb(47, 123, 194);
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.homeContent {
  font-size: 1.2vmax;
  padding: 2vmax 10vmax 3vmax 10vmax;
}

.readMore {
  text-decoration: none;
  color: rgb(34, 94, 32);
  font-size: 1vmax;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 75vh;
  background-color: rgb(255, 255, 255);
}

h1 {
  padding: 1.5vmax 0 0 10vmax;
  font-family: "Special Elite", cursive, sans-serif;
  font-size: 2vmax;
}

.content {
  font-size: 1.2vmax;
  padding: 2vmax 10vmax;
}

.footer {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: rgb(158, 158, 158);
  font-family: "Special Elite", cursive, sans-serif;
  font-size: 1vmax;
  justify-content: center;
  align-items: center;
}

.formDiv {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 60vh;
  font-family: sans-serif;
}

.titleLabel {
  font-size: 1vmax;
  padding: 1vmax 0 1vmax 10vmax;
  font-weight: bold;
}

.titleTextBox {
  width: 80vw;
  height: 2vmax;
  font-size: 1vmax;
  font-family: sans-serif;
  justify-content: center;
  padding: 0.5vmax;
  border: 0.1vmax solid rgb(167, 167, 167);
  border-radius: 4px;
  align-self: center;
}

.postLabel {
  font-size: 1vmax;
  padding: 1vmax 0 1vmax 10vmax;
  font-weight: bold;
}

.postTextBox {
  width: 80vw;
  height: 15vmax;
  font-size: 1vmax;
  font-family: sans-serif;
  padding: 0.5vmax;
  border: 0.1vmax solid rgb(167, 167, 167);
  border-radius: 4px;
  align-self: center;
}

.publish {
  width: 6vmax;
  height: 2.5vmax;
  font-size: 1vmax;
  margin: 1vmax 10vmax;
  background-color: rgb(83, 83, 182);
  color: white;
  border-radius: 3px;
  border: rgb(83, 83, 182);
}
