* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  width: 100vw;
  height: 5rem;
  background-color: rgb(236, 236, 236);
  justify-content: start;
  align-items: center;
  font-family: 'Special Elite', cursive, sans-serif;
}

.title {
  flex-grow: 10;
  margin: 0 2rem;
  font-size: 2rem;
}

.navbar {
  display: flex;
  flex-grow: 90;
  justify-content: end;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 4rem;
  font-size: 1.2rem;
}

a:hover {
  color: rgb(47, 123, 194);
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

h1 {
  margin: 3rem;
  font-family: 'Special Elite', cursive, sans-serif;
  font-size: 3rem;
}

.content {
  margin: 3rem;
  font-size: 1.5rem;
}

.footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: rgb(196, 196, 196);
  justify-content: center;
  align-items: center;
  font-family: 'Special Elite', cursive, sans-serif;
}

.composeTextBox {
  margin: 0 0 0 3rem;
  width: 15rem;
  height: 2rem;
  font-size: 1rem;
}

.publish {
  width: 6rem;
  height: 2.5rem;
  font-size: 1.2rem;
}

